.DS_Store
**/.DS_Store
**/__pycache__/
**/*.py[cod]

.env
.env.*
!.env.example

.git/
.gitignore

logs/
models/
config/**/*.yaml
!config/**/*.example.yaml
plugins/.DS_Store
!wheels/
!wheels/.gitkeep
!wheels/*.whl

docker-compose*.yml
README.md
