.DS_Store
**/.DS_Store
**/__pycache__/
**/*.py[cod]

.env
.env.*
!.env.example

logs/
dags/*
!dags/.gitkeep
!dags/python_smoke_test.py
!dags/spark_submit_smoke_test.py
!dags/spark_standalone_iceberg_example.py
!dags/jobs/
!dags/jobs/iceberg_smoke.py
!dags/spark_jobs/
!dags/spark_jobs/smoke_test.py
config/**/*.yaml
!config/**/*.example.yaml
wheels/*
!wheels/.gitkeep
spark-pyfiles/*
!spark-pyfiles/.gitkeep
jars/*
!jars/.gitkeep
!jars/README.md
